@font-face {
  font-family: 'icomoon';
  src: url('icomoon.eot');
  src: url('icomoon.eot#iefix') format('embedded-opentype'), url('icomoon.ttf') format('truetype'), url('icomoon.woff') format('woff'), url('icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: HyliaSerif;
  src: url("HyliaSerifBeta-Regular.otf") format("opentype");
}
.base-marker-icon {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-BotW_Great-Fairy:before {
  content: "\e91a";
}
.icon-BotW_Stables:before {
  content: "\e91c";
}
.icon-Button:before {
  content: "\e915";
}
.icon-BotW_Korok-Seeds:before {
  content: "\e91b";
}
.icon-BotW_Dungeon:before {
  content: "\e916";
}
.icon-BotW_Farm:before {
  content: "\e917";
}
.icon-BotW_The-Temple-of-Time:before {
  content: "\e918";
}
.icon-BotW_Village:before {
  content: "\e919";
}
.icon-BotW_Weapons:before {
  content: "\e900";
}
.icon-BotW_Tower-of-Resurrection:before {
  content: "\e901";
}
.icon-BotW_Shrines:before {
  content: "\e902";
}
.icon-BotW_Shrine-of-Resurrection:before {
  content: "\e903";
}
.icon-BotW_Shields:before {
  content: "\e904";
}
.icon-BotW_Points-of-Interest:before {
  content: "\e905";
}
.icon-BotW_Mushroom:before {
  content: "\e906";
}
.icon-BotW_Meat:before {
  content: "\e907";
}
.icon-BotW_Materials:before {
  content: "\e908";
}
.icon-BotW_Locations:before {
  content: "\e909";
}
.icon-BotW_Items:before {
  content: "\e90a";
}
.icon-BotW_Herb:before {
  content: "\e90b";
}
.icon-BotW_Guardian:before {
  content: "\e90c";
}
.icon-BotW_Fish:before {
  content: "\e90d";
}
.icon-BotW_Equipment:before {
  content: "\e90e";
}
.icon-BotW_Enemy-Camp:before {
  content: "\e90f";
}
.icon-BotW_Enemies:before {
  content: "\e910";
}
.icon-BotW_Bow-n-Arrows:before {
  content: "\e911";
}
.icon-BotW_Boss:before {
  content: "\e912";
}
.icon-BotW_Armor:before {
  content: "\e913";
}
.icon-film:before {
  content: "\f008";
}
.icon-bomb:before {
  content: "\e91d";
}
.icon-bubble2:before {
  content: "\e96e";
}
html,
body {
  margin: 0;
  height: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background: #000000;
}
#mapContainer {
  width: 100%;
  height: 100%;
}
#mapContainer .leaflet-marker-pane .markIcon {
  border: solid 1px rgba(0, 0, 0, 0.2);
  padding: 1px;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  line-height: 18px;
  text-align: center;
  box-sizing: border-box;
}
#mapContainer .leaflet-marker-pane .markIcon:before {
  font-size: 14px;
  color: #fff;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  display: inline-block;
  margin-top: -6px;
}
#mapContainer .leaflet-marker-pane .marked {
  background-color: #666 !important;
}
#mapContainer .leaflet-marker-pane .marked:before {
  color: #999;
}
.icon-BotW_Great-Fairy,
.icon-BotW_Great-Fairy:after {
  background-color: #e44ee3;
}
.icon-BotW_Korok-Seeds,
.icon-BotW_Korok-Seeds:after {
  background-color: #37b500;
}
.icon-film,
.icon-film:after {
  background-color: #02c7ff;
}
.icon-BotW_Boss,
.icon-BotW_Boss:after {
  background-color: #c20e0e;
}
.icon-bubble2,
.icon-bubble2:after {
  background-color: #2c83cc;
}
.icon-BotW_Shrines,
.icon-BotW_Shrines:after {
  background-color: #0082c4;
}
.icon-BotW_Stables,
.icon-BotW_Stables:after {
  background-color: #d78b06;
}
.icon-BotW_Tower-of-Resurrection,
.icon-BotW_Tower-of-Resurrection:after {
  background-color: #24d8d8;
}
.icon-BotW_Village,
.icon-BotW_Village:after {
  background-color: #f08200;
}
.icon-BotW_Weapons,
.icon-BotW_Weapons:after {
  background-color: #ffce06;
}
.icon-BotW_Bow-n-Arrows,
.icon-BotW_Bow-n-Arrows:after {
  background-color: #ffce06;
}
.icon-BotW_Shields,
.icon-BotW_Shields:after {
  background-color: #ffce06;
}
.icon-BotW_Armor,
.icon-BotW_Armor:after {
  background-color: #ffce06;
}
#switchType {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
}
#switchType span {
  font-size: 12px;
  background: #C0C2A8;
  display: block;
  line-height: 30px;
  padding: 0 20px;
  border-radius: 5px;
  color: #000000;
  cursor: pointer;
}
#switchType > ul {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  max-height: 0px;
  transition: all ease-in 0.5s;
  margin: 0;
  padding: 0;
  box-shadow: 1px 1px 0 #03C03C, -1px -1px 0 #03C03C;
}
#switchType > ul > li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  display: block;
  line-height: 26px;
  padding: 0 20px;
  color: #C0C2A8;
  cursor: pointer;
  transition: all ease-in 0.2s;
  background-color: transparent;
  position: relative;
}
#switchType > ul > li:after {
  content: " ";
  position: absolute;
  left: 8px;
  top: 10px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
}
#switchType > ul > li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
#switchType > ul > li.current {
  background-color: dodgerblue;
}
#switchType > ul > li:before {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
}
#switchType > ul > li.title {
  font-size: 10px;
  line-height: 18px;
  color: #999;
  cursor: default;
  border-top: solid 1px #666;
  padding-top: 5px;
}
#switchType > ul > li.title:hover {
  background-color: transparent;
}
#switchType > ul > li.title.current {
  background-color: transparent;
}
#switchType:hover ul {
  max-height: 1000px;
}
#nameSearch {
  position: fixed;
  top: 10px;
  right: 200px;
  z-index: 999;
  background: #C0C2A8;
  border-radius: 5px;
  overflow: hidden;
}
#nameSearch input {
  padding: 0 10px;
  margin: 0;
  line-height: 30px;
  height: 30px;
  font-size: 12px;
  border: 0;
  background-color: transparent;
  outline: none;
  color: #03C03C;
  width: 160px;
}
#nameSearch input::placeholder {
  color: #666;
}
#nameSearch .clear {
  color: #000000;
  line-height: 30px;
  padding: 0 10px;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
}
#nameSearch .clear:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
#nameSearch .clear:active {
  background-color: rgba(255, 255, 255, 0.15);
}
.popupContainer {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, '微软雅黑';
}
.popupContainer .name {
  color: #000;
  font-size: 16px;
  display: block;
  font-weight: lighter;
  font-family: HyliaSerif, '微软雅黑';
}
.popupContainer .name:nth-of-type(2) {
  margin-top: 10px;
  border-top: solid 1px #eee;
  padding-top: 10px;
}
.popupContainer .buttonContainer {
  padding-top: 6px;
}
.popupContainer .buttonContainer a,
.popupContainer .buttonContainer span {
  display: inline-block;
  color: dodgerblue;
  text-decoration: underline;
  cursor: pointer;
  margin-right: 10px;
}
.popupContainer .buttonContainer a:hover,
.popupContainer .buttonContainer span:hover {
  color: deepskyblue;
}

.logo {
  display: inline-block;
  width: 110px;
  height: 110px;
  background: url('../images/sheikah.png') no-repeat center;
  background-size: 100% 100%;
  position: fixed;
  left: -10px;
  bottom: 10px;
  z-index: 9999;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.logo:hover {
  transform: rotate(360deg);
  filter: drop-shadow(1px 1px 5px rgba(255, 255, 255, .2));
}